.App {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Change direction to column for vertical stacking */
  align-items: center;
  height: 100vh;
  /* background-color: #f0f0f0; */
}

.App > .upvotes-list {
  margin-bottom: 20px; /* Space between upvote lists */
}

